[pull]
	rebase = false
[alias]
	lol = log --graph --decorate --pretty=oneline --all --abbrev-commit --date-order
[checkout]
	defaultRemote = origin
[init]
	defaultBranch =  main
[user]
	email = fluo10.dev@fireturtle.net
	name = fluo10
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
